# Finance Dashboard - Dependencies
# Python 3.8+

# Web framework
eel==0.16.0

# Data processing
pandas==2.1.4

# Packaging tool
pyinstaller==6.3.0

# Other dependencies
bottle==0.12.25
bottle-websocket==0.2.9
gevent==23.9.1
gevent-websocket==0.10.1
